{% extends 'layouts/base.html' %}
{% import "_macros.html" as macros %}

{% block title %}Intranet - Comment Moderation{% endblock %}

{% block body %}
    <div class="well">
        <h2>Comment Moderation</h2>
    </div>
    {% set moderate = True %}
    <div class="well">
        {% include '_comments.html' %}
    </div>
    <a href="{{ url_for('post.view_post', id=post) }}" class="btn btn-primary">Back</a>
{% endblock %}