{% extends "layouts/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Intranet - Register User{% endblock %}

{% block body %}
<div class="well">
    <h2>Register New Users</h2>
</div>
<div class="well">
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}
