{% extends "layouts/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Intranet - Password Change{% endblock %}

{% block body %}
    {% if current_user.is_authenticated %}
        <div class="well">
            <h2>Change Password</h2>
        </div>
        <div class="well">
            <div class="row">
                <div class="col-md-4">
                    <div>
                        {{ wtf.quick_form(form) }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
