{% extends 'layouts/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Intranet - Login{% endblock %}

{% block body %}
<div class="well">
    <h2>Login</h2><br>
    {{ wtf.quick_form(form) }}
    New to the site? Create an account <a href="{{ url_for('auth.register') }}">here</a>!
    <br>
</div>
{% endblock %}