{% extends "layouts/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Intranet - Request Password Reset{% endblock %}

{% block body %}
        <div class="row" style="padding-bottom:10px">
            <div class="col-md-4" style="height:300px">
                <div>
                    {{ wtf.quick_form(form) }}
                </div>
            </div>
        </div>
    <hr>
{% endblock %}
