{% extends "layouts/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Intranet - Password Reset{% endblock %}

{% block body %}
<div class="page-header">
    <h1 style="font-family:'Sofia Pro Soft'; -webkit-font-smoothing: antialiased">Reset Your Password</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}