{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/semantic.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/semantic.min.css') }}" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/nycgov.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='images/nycgov.ico') }}" type="image/x-icon">
{% endblock %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}Intranet{% endblock %}</title>
    <meta name="description" content="NYC DORIS Intranet">
    <!-- To ensure proper rendering and touch zooming, add the viewport meta tag to your <head>. -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="Shortcut Icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">

    {% block css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">-->
    {% endblock %}

    {% block css_style %}
    {% endblock %}

    {% block js_top %}
        <!--<script src="{{ url_for('static', filename='js/vendor/modernizr-2.6.2.min.js') }}"></script>-->
    {% endblock %}
</head>
<body style="padding-top: 20px; padding-bottom: 20px">
{% block topbar %}
    <div class="container" style="padding-top: 70px;">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div id="intranet-navbar" class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">Intranet</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ url_for('main.index') }}">Home</a></li>
                        <li id="navbar-dropdown" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Quick Links<span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="http://cityshare.nycnet/portal/site/cityshare/?front_door=true">CityShare</a>
                                </li>
                                <li><a href="https://prod.citytime.nycnet/">CityTime</a></li>
                                <li><a href="https://timeclock.joelbcastillo.com//auth/login">TimeClock</a></li>
                                <li><a href="https://hrb.nycaps.nycnet/">NYCAPS</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Departments<span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="http://www.nyc.gov/html/records/html/home/home.shtml">Department of
                                    Records</a></li>
                                <li><a href="{{ url_for('main.lmt') }}">Labor Management Team</a></li>
                                <li><a href="{{ url_for('main.mis') }}">Management and Information Services</a></li>
                                <li><a href="{{ url_for('main.archives') }}">Municipal Archives</a></li>
                                <li><a href="{{ url_for('main.library') }}">Municipal Library</a></li>
                                <li><a href="http://egov.nycnet/dor/mrmd/index.html">Municipal Records Management
                                    Division</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Employee Info<span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="http://www1.nyc.gov/site/olr/index.page">Employee Benefits</a></li>
                                <li><a href="{{ url_for('main.eeo') }}">Equal Employment Opportunity</a></li>
                                <li><a href="http://www.nyc.gov/html/dcas/html/employees/psbhome.shtml">Personnel
                                    Service Bulletins</a></li>
                                <li><a href="{{ url_for('main.agency_policies') }}">Policies and Procedures</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Applications<span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('main.enfg') }}">Easy Not Found Generator</a></li>
                                <li><a href="https://www.nycers.org/(S(m4z1oy554pem3oudryveam55))/index.aspx">NYCERS</a>
                                </li>
                                <li><a href="{{ url_for('epayments.index') }}">Epayments</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Social Media<span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="https://www.facebook.com/nycrecords?fref=ts/"><img
                                        src="{{ url_for('static', filename='images/image002.gif') }}"> Facebook</a></li>
                                <li><a href="https://twitter.com/nycrecords/"><img
                                        src="{{ url_for('static', filename='images/image003.png') }}"> Twitter</a></li>
                                <li><a href="https://www.youtube.com/user/NYCDeptofRecords/"><img
                                        src="{{ url_for('static', filename='images/image005.png') }}"> YouTube</a></li>
                                <li><a href="https://instagram.com/explore/locations/6126741/"><img
                                        src="{{ url_for('static', filename='images/image006.jpg') }}"
                                        style="margin-left: -7px;"> Instagram</a></li>
                                <li><a href="http://nycrecords.tumblr.com/"><img
                                        src="{{ url_for('static', filename='images/image004.gif') }}"> Tumblr</a></li>
                            </ul>
                        </li>
                        {% if current_user.is_authenticated %}
                            {% if current_user.is_administrator() %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration<span
                                            class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ url_for('user.users') }}">Manage User Info</a></li>
                                        <li><a href="{{ url_for('auth.admin_register') }}">Register Users</a></li>
{#                                        {% if current_user.division == 'A' %}#}
{##}
{#                                        {% elif current_user.division == 'B' %}#}
{##}
{#                                        {% elif current_user.division == 'C' %}#}
{##}
{#                                        {% endif %}#}
                                    </ul>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if current_user.is_authenticated %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle"
                                   data-toggle="dropdown">{{ current_user.first_name }} {{ current_user.last_name }}<span
                                        class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ url_for('user.profile', email=current_user.email) }}">User
                                        Profile</a></li>
                                    <li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                                    <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
{% endblock %}

{% block flash_message %}
    <div class="container-fluid">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="container-fluid">
                    <div id='flash_message_container'>
                        {% for category, msg in messages %}
                            <div class="alert alert-{{ category }}">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                {{ msg }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}

{% block container %}
    <div class="container">

    {% block top %}
        {% if tabs %}
            <div>
            <ul class="nav nav-tabs">
                {% for tab, link in tabs %}
                    <li class="{% if active == tab %}active{% endif %}">
                        <a href="{{ link }}">{{ tab|capitalize }}</a>
                    </li>
                {% endfor %}
            </ul>
            <div>
        {% endif %}
    {% endblock %}

{% block body %}
{% endblock %}

</div>
{% endblock %}

<footer>
</footer>

{% block js_btm %}
    <!--
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    -->
    {% set jquery_path = url_for('static', filename='js/vendor/jquery-1.10.2.min.js') %}
    <script>window.jQuery || document.write('<script src="{{ jquery_path }}"><\/script>')</script>
    <!--<script src="{{ url_for('static', filename='js/plugins.js') }}"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>-->
    <!--<script src="{{ url_for('static', filename='js/vendor/bootstrap.js') }}"></script>-->
    <!--<script src="{{ url_for('static', filename='js/main.js') }}"></script>-->
{% endblock %}

{% block ga %}
{% endblock %}
</body>
</html>

{% block scripts %}
    <script type="text/javascript">
        $('.ui.dropdown')
                .dropdown();
    </script>
{% endblock %}