{% extends 'layouts/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Intranet - Edit Post{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/selectize.css') }}" type="text/css">
{% endblock %}

{% block body %}
    <div class="well">
        <h2>Edit Post</h2>
    </div>
    <div id="page-body">
        <form name="input" class="form-horizontal" id="submitPost" enctype="multipart/form-data" method="post">
            {#        <div class="lead">Tags#}
            {#            <div class="control-group">#}
            {#                <input type="text" name="input_tag" id="tag_list" value="{{ previous_tag_string }}" tabindex="-1" style="display: block;">#}
            {#            </div>#}
            {#        </div>#}
            <div class="lead">Title
                <div class="control-group">
                    <input value="{{ post.title }}" class="input_title" name="input_title" title="input_title"
                           name="Title" required>
                </div>
            </div>
            <div class="lead">File Upload (PDF Only) - Replaces Current Attachment
                <div class="control-group">
                    <input type="file" name="post_file" accept="application/pdf">
                    {% if post.file != None %}
                        Current Attachment: <a href="/static/post_files/{{ post.file }}" target="_blank">{{ post.file.split('_', 1)[-1] }}</a>
                    {% endif %}
                </div>
            </div>
            <div class="lead">Text
                <div class="control-group">
                    <textarea id="editor1" name="editor1" required>{{ post.text }}</textarea>
                </div>
            </div>
            <div id="requestButton" class="control-group">
                <div>
                    <button type="submit" title="submit_post" class="btn btn-primary">Submit</button>
                    <input action="action" type="button" value="Cancel" onclick="history.go(-1);"
                           class="btn btn-primary"/>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/selectize.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/selectize.js') }}"></script>
    <script type="text/javascript">
        var data = {{ tag_list | safe }};
        var items = data.map(function (x) {
            return {item: x};
        });

        $(document).ready(function () {
            $('#tag_list').selectize({
                delimiter: ', ',
                persist: false,
                options: items,
                labelField: "item",
                valueField: "item",
                sortField: 'item',
                searchField: 'item',
                create: function (input) {
                    return {
                        value: input,
                        text: input
                    }
                },
                create: true
            });
        });
    </script>
{#    <script type="text/javascript" src="//cdn.ckeditor.com/4.4.7/full/ckeditor.js"></script>#}
    <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
    <script type="text/javascript">
        CKEDITOR.replace('editor1');
    </script>
{% endblock %}
