{% extends 'layouts/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Intranet - User Info{% endblock %}

{% block body %}
    <div class="well">
        <h2>Update User Information</h2>
    </div>

    <div class="well">
        <form name="input" class="form-horizontal" method="post">

            {% if current_user.is_administrator %}

                <div class="reset_password">
                    <h4>Reset Password</h4>
                    <select name="select_reset" class="ui compact selection dropdown">
                        <option value="">Users</option>
                        {% for user in users %}
                            <option value="{{ user.id }}">{{ user.email }}</option>
                        {% endfor %}
                    </select>
                    <div id="requestButton" class="control-group">
                        <div>
                            <button type="submit" name="submit" value="Reset Password" title="reset_account"
                                    class="ui button">Reset Password
                            </button>
                        </div>
                    </div>
                </div><br>

                <div class="division_change">
                    <h4>Update Division</h4>
                    <select name="select_user_division" class="ui compact selection dropdown">
                        <option value="">Users</option>
                        {% for user in users %}
                            <option value="{{ user.email }}">{{ user.email }}</option>
                        {% endfor %}
                    </select>
                    <select name="select_division" class="ui compact selection dropdown">
                        <option value="">Division</option>
                        {% for division in divisions %}
                            <option value="{{ division }}">{{ division }}</option>
                        {% endfor %}
                    </select>
                    <div id="requestButton" class="control-group">
                        <div>
                            <button type="submit" name="submit" value="Update Division" title="submit_division"
                                    class="ui button">Submit
                            </button>
                        </div>
                    </div>
                </div><br>

                <div class="role_change">
                    <h4>Update Role</h4>
                    <select name="select_user_role" class="ui compact selection dropdown">
                        <option value="">Users</option>
                        {% for user in users %}
                            <option value="{{ user.email }}">{{ user.email }}</option>
                        {% endfor %}
                    </select>
                    <select name="select_role" class="ui compact selection dropdown">
                        <option value="">Role</option>
                        {% for role in roles %}
                            <option value="{{ role }}">{{ role }}</option>
                        {% endfor %}
                    </select>
                    <div id="requestButton" class="control-group">
                        <div>
                            <button type="submit" name="submit" value="Update Role" title="submit_role"
                                    class="ui button">Submit
                            </button>
                        </div>
                    </div>
                </div><br>

                <div class="delete_account">
                    <h4>Delete Account</h4>
                    <select name="select_delete" class="ui compact selection dropdown">
                        <option value="">Accounts</option>
                        {% for user in users %}
                            <option value="{{ user.id }}">{{ user.email }}</option>
                        {% endfor %}
                    </select>
                    <div id="requestButton" class="control-group">
                        <div>
                            <button type="submit" name="submit" value="Delete Account" title="delete_account"
                                    class="ui button">Delete Account
                            </button>
                        </div>
                    </div>
                </div>

            {% endif %}

        </form>
    </div>
{% endblock %}