{% extends 'layouts/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Intranet - Profile{% endblock %}

{% block body %}
    <div class="well">
        <h2>User Profile</h2>
    </div>

    <div class="well">
        {% if current_user.id == user_id %}
            <h4>Avatar: <br>
            <img src="{{ url_for('static', filename=avatar) }}" height="250" width="250">
            <form name="input" class="form-horizontal" enctype="multipart/form-data" method="post">
                <input type="file" name="profile_picture" accept="image/*">
                <div id="requestButton" class="control-group">
                    <div>
                        <button type="submit" title="submit_profile_picture" class="ui button">Upload</button>
                    </div>
                </div>
            </form>
            <br>
        {% else %}
            <h4>
            Avatar:  <br>
            <img src="{{ url_for('static', filename=avatar) }}" height="250" width="250"><br><br>
        {% endif %}
        Name: {{ first_name }} {{ last_name }}<br>
        Role: {{ role }}<br>
        Email: {{ email }}<br>
        Division:
        {% if division != None %}
            {{ division }}
        {% else %}
            N/A
        {% endif %}<br>
        {% if role == 'Administrator' or role == 'Director' %}
            Number of Posts: {{ posts }}<br>
        {% endif %}
        Number of Comments: {{ comments }}
        </h4>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/semantic.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/semantic.min.js') }}"></script>
    <script type="text/javascript">
        $('.ui.dropdown')
                .dropdown()
        ;
    </script>
{% endblock %}