<!DOCTYPE html>
<html lang="en">
<head>
    <title>ePayments</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans' rel='stylesheet'
          type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='epayments/css/style.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='css/images/nycgov.ico') }}">
    <link rel="icon" href="{{ url_for('static', filename='css/images/nycgov.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
        $(function () {
            $("#datepicker2").datepicker();
        });
    </script>
</head>
<body>

{#<header>#}
{#    <button><h1><a href="{{url_for('main.index') }}">Back to Intranet</a></h1></button>#}
{#</header>#}
<input type="checkbox" id="fold">

<div id="main">
    <!-- This is where our React app will go -->
</div>
<div id="printorders" style="display: none;">
    <!-- This is where our orders to print will go -->
</div>
<div id="printbiglabels" style="display: none;">
    <!-- This is where our big labels to print will go -->
</div>
<div id="printsmalllabels" style="display: none;">
    <!-- This is where our small labels to print will go -->
</div>

<script src="{{ url_for('static', filename='epayments/src/scripts/main.js') }}"></script>
<script type="text/javascript">
    function TasksViewModel() {
        var self = this;
        self.tasksURI = 'http://localhost:5000/epayments/api/v1.0/orders';
        self.tasks = ko.observableArray();

        self.ajax = function (uri, method, data) {
            var request = {
                url: uri,
                type: method,
                contentType: "application/json",
                accepts: "application/json",
                cache: false,
                dataType: 'json',
                data: JSON.stringify(data),
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization",
                            "Basic " + btoa(self.username + ":" + self.password));
                },
                error: function (jqXHR) {
                    console.log("ajax error " + jqXHR.status);
                }
            };
            return $.ajax(request);
        };

        self.ajax(self.tasksURI, 'GET').done(function (data) {
            for (var i = 0; i < data.tasks.length; i++) {
                self.tasks.push({
                    uri: ko.observable(data.tasks[i].uri),
                    ordernumber: ko.observable(data.tasks[i].ordernumber),
                    subordernumber: ko.observable(data.tasks[i].subordernumber),
                    ordertype: ko.observable(data.tasks[i].ordertype),
                    name: ko.observable(data.tasks[i].name),
                    date: ko.observable(data.tasks[i].date),
                    done: ko.observable(data.tasks[i].done)
                });
            }
        });
    }
</script>
</body>
</html>
