#newpost h3 a {
	-moz-box-shadow: 0px 10px 14px -7px #7a00c1;
	-webkit-box-shadow: 0px 10px 14px -7px #7a00c1;
	box-shadow: 0px 10px 14px -7px #7a00c1;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8200ce), color-stop(1, #5f2da4));
	background:-moz-linear-gradient(top, #8200ce 5%, #5f2da4 100%);
	background:-webkit-linear-gradient(top, #8200ce 5%, #5f2da4 100%);
	background:-o-linear-gradient(top, #8200ce 5%, #5f2da4 100%);
	background:-ms-linear-gradient(top, #8200ce 5%, #5f2da4 100%);
	background:linear-gradient(to bottom, #8200ce 5%, #5f2da4 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8200ce', endColorstr='#5f2da4',GradientType=0);
	background-color:#8200ce;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}

#newpost h3 a:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5f2da4), color-stop(1, #8200ce));
	background:-moz-linear-gradient(top, #5f2da4 5%, #8200ce 100%);
	background:-webkit-linear-gradient(top, #5f2da4 5%, #8200ce 100%);
	background:-o-linear-gradient(top, #5f2da4 5%, #8200ce 100%);
	background:-ms-linear-gradient(top, #5f2da4 5%, #8200ce 100%);
	background:linear-gradient(to bottom, #5f2da4 5%, #8200ce 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5f2da4', endColorstr='#8200ce',GradientType=0);
	background-color:#5f2da4;
}

#newpost h3 a:active {
	position: relative;
	top: 1px;
}

#newpost {
	margin-top: 20px;
}

form li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

.pagination {
	position: relative;
    float: right;
    padding-top: 30px;
}

.well .well {
	margin-top: 5px;
	background: white;
}

/*#intranet-navbar {*/
	/*background-color: black;*/
/*}*/

/*#intranet-navbar li a {*/
	/*color: lightgrey;*/
/*}*/

.navbar-default .navbar-collapse li {
	font-size: 17px;
}

.navbar-header .navbar-brand a {
	font-size: 17px;
	/*color: lightgrey;*/
}

.navbar-default .navbar-collapse li:hover {
	background-color: #e0e1e2;
}

.navbar-default .navbar-collapse .dropdown-menu li a:hover {
	color: #9b59b6;
}

.post-footer > a:hover {
    text-decoration: none;
}

#comment-body a:hover {
	text-decoration: none;
}

#moderate-comments {
	padding-bottom: 15px;
}

#flash_message_container {
	color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
