<p>Hi {{ user.first_name }},</p>
<p>Your account for the NYC Department of Records and Information Services Intranet has been created.</p>
<p>Please visit <a href="{{ url_for('auth.login', _external=True) }}">{{ url_for('auth.login', _external=True) }}</a> to login to the site.</p>
<p>Your username is {{ user.email }}.</p>
<p>Your initial password is '{{ temp_password }}'. Please reset your password upon login in the 'Change Password' section of your profile at the top right of the website.</p>
<br />
<p>Sincerely,</p>
<p>The Intranet Team</p>
<p><small>Note: replies to this email address are not monitored.</small></p>