<p>Hi {{ user.first_name }},</p>
<p>To reset your password <a href="{{ url_for('auth.password_reset', token=token, _external=True) }}">click here</a>.</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p><a href="{{ url_for('auth.password_reset', token=token, _external=True) }}">{{ url_for('auth.password_reset', token=token, _external=True) }}</a></p>
<p>If you have not requested a password reset, please ignore this message. It may be a result of testing.</p>
<p>Sincerely,</p>
<p>The Intranet Team</p>
<p><small>Note: replies to this email address are not monitored.</small></p>