{% if page_posts[0] %}
    {% for post in page_posts %}
        <div class="well">
            <h2>{{ post['title'] }}</h2>
            <h10>{{ post['time'] }}</h10>
            <br>
            {% if 'Twitter - @nycrecords: ' in post['title'] %}
                <h13>Posted on Twitter</h13>
            {% elif post['author'] == '' %}

            {% else %}
                <h13>Posted by {{ post['author'] }}</h13>
            {% endif %}
            <div class="well">
                {{ post['text'] | safe }}
                {% if post['file'] != None %}
                    Attachment: <a href="/static/post_files/{{ post['file'] }}"
                                  target="_blank">{{ post['file'].split('_', 1)[-1] }}</a>
                {% endif %}
            </div>
            <div class="post-footer">
                <a href="{{ url_for('post.view_post', id=post['id']) }}">
                    <span class="label label-default">Permalink</span>
                </a>
                <a href="{{ url_for('post.view_post', id=post['id']) }}#comments">
                    <span class="label label-primary">{{ post['comments'] }} Comments</span>
                </a>
                {#                {% for tag in post['tags'] %}#}
                {#                    <a href="{{ url_for('post.tag', tag=tag['name']) }}">#}
                {#                        <span class="label label-primary">{{ tag['name'] }}</span>#}
                {#                    </a>#}
                {#                {% endfor %}#}
                {% if current_user.is_authenticated %}
                    {% if current_user.first_name + ' ' + current_user.last_name == post['author'] %}
                        <a href="{{ url_for('post.edit', id=post['id']) }}">
                            <span class="label label-primary">Edit</span>
                        </a>
                        <a href="{{ url_for('post.delete', id=post['id']) }}">
                            <span class="label label-danger">Delete</span>
                        </a>
                    {% elif current_user.is_administrator() %}
                        <a href="{{ url_for('post.edit', id=post['id']) }}">
                            <span class="label label-primary">Edit [Admin]</span>
                        </a>
                        <a href="{{ url_for('post.delete', id=post['id']) }}">
                            <span class="label label-danger">Delete</span>
                        </a>
                    {% endif %}
                {% endif %}
                <br>
            </div>
        </div>
    {% endfor %}
{% else %}
    <h4>There are no matching results.</h4>
{% endif %}
