{% extends 'layouts/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Intranet - Municipal Archives{% endblock %}

{% block body %}
<div class="well">
    <h2>Municipal Archives</h2>
</div>

<div class="well">
	<h4><b>Links</b>
	<br><br>
	- <a href="http://www.archives.nyc/">Home Page</a><br>
	- <a href="http://nycma.lunaimaging.com/">Online Gallery</a><br>
	</h4>
</div>
{% endblock %}