{% extends 'layouts/base.html' %}
{% import "_macros.html" as macros %}

{% block title %}Intranet - Home{% endblock %}

{% block body %}
<div id="nav-bottomright" style="float: right;">
        <form name="input" class="form-horizontal" id="searchTags" method="post">
            <div class="control-group">
                <div class="ui action input">
                    <input name="search_term" type="text" placeholder="Search Posts" style="font-family: Georgia, serif;">
                    <select name="select_search_option" class="ui compact selection dropdown">
                        <option value="all">All</option>
                        <option value="title">Title</option>
                        <option value="text">Text</option>
                    </select>
                </div>
            </div>
{#            <div class="control-group">#}
{#            <select name="select_tags" class="ui fluid search dropdown" multiple=" ">#}
{#                <option value="">Tag Filter</option>#}
{#                {% for tag in all_tags %}#}
{#                <option value="{{ tag.name }}">{{ tag.name }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{#            </div>#}
            <div id="requestButton" class="control-group">
                <div>
                    <button type="submit" title="search_tags" class="ui button" style="float: right;">Search</button>
                </div>
            </div>
        </form>
    </div>

<div class="well">
    <h1>Home</h1>
</div>

{#{% if pagination.page == 1 %}#}
{#<div id="tweets">#}
{#    <div class="well">#}
{#    <h2>Twitter Ticker</h2>#}
{#    {% for tweet in recent_tweet %}#}
{#        <a href="https://twitter.com/nycrecords/">@{{ tweet.user.screen_name }}</a><br>#}
{#        {{ tweet_datetime }}<br>#}
{#        <div class="well">#}
{#            {{ tweet.text }}#}
{#        </div>#}
{#    {% endfor %}#}
{#    <a href="{{ url_for('main.tweets') }}">View Recent Tweets</a>#}
{#    </div>#}
{#</div>#}
{#{% endif %}#}

{% include '_posts.html' %}

<div id="newpost">
    {% if current_user.is_administrator() or current_user.is_director() %}
    <h3><a href="{{ url_for('post.new_post') }}">Add Post</a></h3>
    {% endif %}
</div>

{{ macros.pagination_widget(pagination, '.index') }}

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/semantic.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/semantic.min.js') }}"></script>
<script type="text/javascript">
$('.ui.dropdown')
    .dropdown();
</script>
{% endblock %}
