{% extends 'layouts/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Intranet - Municipal Library{% endblock %}

{% block body %}
<div class="well">
    <h2>Municipal Library</h2>
</div>

<div class="well">
	<h4><b>There is currently nothing available. Please check back soon!</b>
</div>
{% endblock %}